<div class="jumbotron">
    <h1>plentyLeads GmbH</h1>
    <p class="lead">
        Der Erfolg von plentyLeads basiert auf der Leistung der Mitarbeiter.
        <br />
        <br />
        Du möchtest dein Talent in unser Team einbringen, eigenverantwortlich Online- und Social Media Marketing-Projekte mit direktem Kundenbezug durchführen?
        <br />
        Die Arbeit bei plentyLeads ist nicht wie andere Jobs. Wenn Du Verantwortung übernehmen willst und wirklich etwas bewegen möchtest bist Du bei uns richtig.
    </p>
    <p><a href="https://plentyleads.de" class="btn btn-primary btn-lg">Lerne uns kennen &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Arbeitsprobe beginnen</h2>
            <p>
                Starte nun deine Arbeitsprobe. Es wird kein Meisterwerk erwartet und Rückfragen sind erlaubt. Also lass dich nicht stressen! ;)
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Example","Home")">Los geht's &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <h2>Fragen?</h2>
            <p>
                Hast du Probleme bei der Bearbeitung der Arbeitsprobe?
                <br />Versuche dir zunächst selbst zu helfen, viele Dinge lassen sich leicht 'ergooglen'.
                <br />Existiert ein Problem weiterhin? Melde dich gerne bei Nadimo!
                <br />Email: n.staszak@plentyleads.de
            </p>
            <p><a class="btn btn-default" href="mailto:n.staszak@plentyleads.de?subject=Frage%20zur%20Arbeitsprobe&amp;body=Hallo%20Nadimo,%0D%0A%0D%0Akannst%20du%20mir%20hier%20vlt.%20kurz%20behilflich%20sein?">E-Mail schreiben &raquo;</a></p>
        </div>
        <div class="col-md-2 align-text-bottom" style="text-align:center!important; vertical-align:bottom!important;">
            <img class="mx-auto d-block" src="~/Content/img/pL_Logos/plentyLeads_logo_2017_transparent_hochaufloesend-e1517960308369.png" />
            <span class="align-text-bottom" style="text-align:center!important;">Viel Erfolg!</span>
        </div>
    </div>
</div>
